.room_baner_outer_container {
  height: 85vh;
  width: 100%;
  padding: 10px 30px;
}

.room_baner_inner_container {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://i.ibb.co.com/6m8m6LG/vojtech-bruzek-Yrxr3bs-Pd-S0-unsplash.png");
}


/* BG overlay__ */

.room_baner_bg_overlay {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  border-bottom:  4px solid #7c6a46;
  background-color: #000000b5;
}


/* Room baner title content style */

.room_baner_title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 21;
  position: absolute;
  text-align: center;
  color: #ffffff;
}

.room_baner_title_container h2 {
  font-size: 6.5rem;
  color: #7c6a46;
  font-weight: 700;
  font-family: "Dancing Script", serif;
}

.room_baner_title_container p {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 350px;
}

/* Responsive style */

@media screen and (max-width: 1536px) {
  .room_baner_title_container h2 {
    font-size: 6.2rem;
  }

  .room_baner_title_container p {
    padding: 10px 290px;
  }
}

@media screen and (max-width: 1280px) {
  .room_baner_title_container h2 {
    font-size: 5.5rem;
  }

  .room_baner_title_container p {
    padding: 10px 160px;
  }
}

@media screen and (max-width: 1024px) {
  .room_baner_title_container h2 {
    font-size: 5rem;
  }

  .room_baner_title_container p {
    padding: 10px 100px;
  }
}

@media screen and (max-width: 768px) {
  .room_baner_title_container h2 {
    font-size: 4.8rem;
  }

  .room_baner_title_container p {
    padding: 10px 60px;
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .room_baner_outer_container {
    padding: 10px 20px;
  }

  .room_baner_title_container h2 {
    font-size: 4rem;
  }

  .room_baner_title_container p {
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 475px) {
  .room_baner_title_container h2 {
    font-size: 3.3rem;
  }

  .room_baner_title_container p {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 400;
  }
}