.main_facilities_outer_container {
  height: 100%;
  width: 100%;
  padding: 0 30px;
}

.main_facilities_inner_container {
  height: 100%;
  width: 100%;
  margin-top: 100px;
  /* border: 2px solid purple; */
}

.facilities_title_container {
  text-align: center;
  padding: 20px 0;
}

.facilities_title_container h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #7C6A46;
  font-family: "Dancing Script", serif;
}

.facilities_title_container p {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Raleway", serif;
}

.facilities_main_section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

/* Facilities section main container style__ */

.facilities_section_item_container {
  height: auto;
  width: 100%;
  padding: 0 20px;
  /* border: 2px solid #ae05be; */
}

/* Facilities section main container style__end */


/* Facilities section item style__ */

.facilities_section_item_title h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #7C6A46;
  font-family: "Dancing Script", serif;
}

.main_facilities_name_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px 10px;
  border-top: 1px solid #7C6A46;
}

.facilities_name_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  cursor: pointer;
  background-color: #f2f2f2;
  border-bottom: 2px solid transparent;
}

.facilities_name_container:hover {
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #7C6A46;
}

.facilities_name_container h2 {
  font-size: 1.8rem;
  padding: 10px 0;
  color: #7C6A46;
}

.facilities_name_container p {
  font-size: 16px;
  font-weight: 600;
  color: #7C6A46;
  font-family: "Raleway", serif;
}