.map_section_outer_container {
  height: auto;
  width: 100%;
  padding: 10px 30px;
  margin-top: 100px;
}

.map_section_inner_container {
  height: auto;
  width: 100%;
  /* border: 2px solid green; */
}

.map_setcion_title h2 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #7c6a46;
  font-family: "Dancing Script", serif;
}

.map_setcion_title p {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

/* Map main section contect style__ */

.map_section_main_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  height: auto;
  width: 100%;
  margin-top: 100px;
  border-top: 2px solid #e5e5e5;
}

.map_left_side_container {
  height: 100%;
  width: 50%;
  margin-top: 40px;
  box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
}

.map_right_side_container {
  height: 100%;
  width: 50%;
  margin-top: 30px;
  /* border: 2px solid blue; */
}

/* Map section right side content style */

.map_right_side_container h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #7c6a46;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

.map_right_side_container p {
  font-size: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
}