.main_booking_list_outer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px 30px;
}

.booking_list_container {
  height: 100%;
  width: 100%;
}