.main_footer_outer_container {
  height: 100%;
  width: 100%;
  color: #ffffff;
  padding: 20px 30px;
  background-color: #7C6A46;
  margin-top: 100px;
}

.main_footer_inner_container {
  height: 100%;
  width: 100%;
  padding: 50px 0;
  border-bottom: 1px solid #D9D9D980;
}

.main_footer_contant_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}


/* All "main footer" container style__ */


.footer_main_title_container {
  width: 30%;
}

.footer_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.footer_newslist_container {
  width: 30%;
}


/* All main footer container style__ end */


/* 1'st container styleing__ */


.footer_logo_title_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer_logo_title_container img {
  height: 50px;
  width: 50px;
}

.footer_logo_title_container h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Raleway", serif;
}

.footer_main_title_container p {
  font-size: 1.1rem;
  padding: 20px 0;
  font-family: "Dancing Script", serif;
}


/* 2'st and 3'th container styleing__ */


.footer_info_inner_content_container h3 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 30px;
  font-family: "Raleway", serif;
}

.footer_info_inner_content_container p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", serif;
  padding-bottom: 15px;
  cursor: pointer;
}


/* 3'st container input styleing__ */


.footer_sub_input_container {
  position: relative;
}

.footer_sub_input_container input {
  width: 100%;
  padding: 12px 10px;
  padding-right: 130px;
  border-radius: 8px;
  outline: none;
  color: #151515;
}

.footer_sub_input_container button {
  padding: 6px 15px;
  border-radius: 8px;
  font-weight: 600;
  background-color: #7C6A46;
  position: absolute;
  right: 5px;
  top: 6px;
}

.footer_sub_input_container button:active {
  background-color: #6c5c3c;
}

.footer_copy_right_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}


/* Responsive styleing__ */


@media screen and (max-width: 1280px) {
  .main_footer_contant_container {
    gap: 20px;
  }

  .footer_logo_title_container img {
    height: 40px;
    width: 40px;
  }

  .footer_logo_title_container h2 {
    font-size: 1.8rem;
  }

  .footer_logo_title_container p {
    font-size: 1rem;
  }

  .footer_info_inner_content_container h3 {
    font-size: 16px;
  }

  .footer_info_inner_content_container p {
    font-size: 14px;
  }

  .footer_sub_input_container button {
    padding: 5px 12px;
    top: 7px;
  }
}

@media screen and (max-width: 1024px) {
  .main_footer_contant_container {
    gap: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .footer_main_title_container {
    width: 100%;
    padding-right: 20px;
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .footer_info_container {
    width: 100%;
    grid-column-start: 7;
    grid-column-end: -1;
  }

  .footer_newslist_container {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media screen and (max-width: 768px) {
  .footer_main_title_container {
    padding-right: 20px;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .footer_info_container {
    grid-column-start: 6;
    grid-column-end: -1;
  }
}

@media screen and (max-width: 640px) {
  .main_footer_outer_container {
    padding: 20px 20px;
  }

  .main_footer_inner_container {
    padding: 0px;
    padding-bottom: 30px;
  }

  .footer_main_title_container {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .footer_info_container {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .footer_newslist_container {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .footer_main_title_container p {
    padding: 30px 0;
  }

  .footer_copy_right_container {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 475px) {
  .footer_logo_title_container img {
    height: 30px;
    width: 30px;
  }
  
  .footer_logo_title_container h2 {
    font-size: 1.6rem;
  }

  .footer_main_title_container p {
    padding: 30px 0;
  }

  .footer_info_inner_content_container h2 {
    font-size: 14px
  }
  
  .footer_info_inner_content_container p {
    font-size: 12px;
  }
}